extends /layouts/_default

block content
  .orgs
    .org-wrapper
      img(src="../images/morethan@2x.png")
    .org-wrapper
      img(src="../images/waves@2x.png")
    .org-wrapper
      img(src="../images/cru@2x.png")
    .org-wrapper
      img(src="../images/first@2x.png")
    .org-wrapper
      img(src="../images/the-nav@2x.png")
    .org-wrapper
      img(src="../images/bbbs@2x.png")
    .org-wrapper
      img(src="../images/hope@2x.png")
  section.different
    .container
      .section-question
        h6 WHAT MAKES US DIFFERENT?
        .line
      h2.section-answer We Focus On Impact, Not Activity
      p.explanation Traffic, rankings, email opens, impressions, and “engagement” are great, but if it doesn’t convert into action and impact
      p.explanation then it doesn’t matter. All we care about is how much impact and revenue we can generate for your cause.
      a(href="#").schedule SCHEDULE A FREE CONSULTATION

  section.process
    .container
      .section-question
        h6 WHAT’S OUR PROCESS?
        .line
      h2.section-answer Growth Rates That Would Make Facebook Jealous
      p.explanation Rapid growth and accelerated profits are not the exclusive rights of for-profit companies.
      p.explanation Our team has deep experience with modern growth tactics and can leverage these tools for your mission.
      .steps-container
        .steps-row
          .step
            img(src="../images/step1@2x.png")
            small DISCOVER
          .step
            img(src="../images/step2@2x.png")
            small SPECIFY & DESIGN
          .step
            img(src="../images/step3@2x.png")
            small BUILD
        .steps-row
          .step
            img(src="../images/step4@2x.png")
            small TEST & EVALUATE
          .step
            img(src="../images/step5@2x.png")
            small LAUNCH
          .step
            img(src="../images/step6@2x.png")
            small MEASURE & REFINE
      a(href="#").schedule SCHEDULE A FREE CONSULTATION
  section.services
    .container
      .section-question
        h6 WHAT ARE OUR SERVICES?
        .line
      h2.section-answer We’re Artists, Academics and Engineers
      p.explanation We’re a cause innovation firm. What we do for you is less important than what we get get for you.
      p.explanation We create blend creativity, data, and technology to produce breakthrough results.
      .services-container
        .services-col
          h5.services-title STRATEGIC SERVICES
          p.services-info Our strategists partner with brands to      identify and optimize opportunities by aligning goals of their business with their customers.
          ul
            li Digital donor experience
            li Digital strategy and planning
            li Multi-channel cultivation
            li Fundraising Automation
            li Donor retention
            li Giving program development
            li Business analysis
            li Supporter journey mapping
            li Process & taxonomy
            li Supporter re-engagement
            li Analytics & measurement
            li Digital project and program management
            li Usability audits and testing
            li Competitive audit
            li Content analysis
            li A/B and Multivariate Testing
            li Lead aquisition
        .services-col
          h5.services-title CREATIVE SERVICES
          p.services-info Our teams take a holistic approach to creating human-centered experiences that bring your cause to life across channels, mediums and devices.
          ul
            li Design Thinking Workshops
            li IA & taxonomy
            li Branding & Identity
            li Responsive design
            li Usability & user research
            li Print design
            li UX and UI design
            li Video Production
            li Digital product design
            li Customer journey mapping
            li Rapid Prototyping
            li Prototyping
            li Digital Style Guides
            li Visual Design
            li Persona Development
            li User Research
            li Photography
            li Copywriting
        .services-col
          h5.services-title ENGINEERING SERVICES
          p.services-info We build high-quality, scalable       technology solutions with enterprise level precision — at a startup pace.
          ul
            li Web development
            li Mobile application development
            li DevOps
            li Technical strategy
            li Rapid prototyping
            li Platform maintenance
            li Performance optimization
            li Technical audits
            li Technical project rescue
            li Native iOS & Android
            li API development
            li Database design
            li Cluster design & implementation
            li System integrations
            li Landing page development
            li Micro-site development
      a(href="#").schedule SCHEDULE A FREE CONSULTATION
  section.explore
    .container
      .section-question
        h6 HOW CAN YOU EXPLORE FURTHER?
        .line
      h2.section-answer Let Us Prove The Value We Can Add
      p.explanation You can likely think of a few problems or opportunities you’d like to have us tackle. At the same time, you
      p.explanation still don’t know us from Adam. Let’s change that. Start with a free consultation and assessment.

      .consult-container.clearfix
        .col-md-6.col-sm-6.col-xs-6
          img(src="../images/computer@2x.png")
        .consulting.col-md-4.col-sm-4.col-xs-4
          .consult-wrapper
            h5.consult-title FREE CONSULTATION
            p.consult-info Our team will do a general review of your fundraising efforts, find areas that need to be improved and come up with a plan to boost your bottomline. Before we begin an engagement, we’ll calculate how much revenue we can generate for you conservatively, moderately and                aggressively...and what steps need to be taken to hit those revenue milestones.
            a(href="#").schedule SCHEDULE A FREE CONSULTATION
          .consult-wrapper
            h5.consult-title FREE USABILITY ASSESSMENT
            p.consult-info There are 116 design priciples for creating websites that convert traffic into donors and volunteers. Our usability team will review your site and score you on those items. Based on your score we’ll provide a breakdown of the most urgent items to address, a recommended timeline and cost.
            a(href="#").schedule GET YOUR FREE ASSESSMENT

            